name: Pre-commit checks

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Fetch all branches and tags
        run: git fetch --all
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: .go_version
      - name: Check license
        run: make license-check
        if: ${{ github.event_name == 'pull_request' }}
      - name: Go lint
        run: make lint
        if: ${{ github.event_name == 'pull_request' }}
      - name: Run Version Check
        run: make pseudo
        if: ${{ github.event_name == 'pull_request' }}
      - name: Run ShellCheck
        run: make check_scripts
        if: ${{ github.event_name == 'pull_request' }}
      - name: unit test
        run: make test
      - name: Code coverage
        uses: codecov/codecov-action@v3
        with:
         files: build/coverage.txt
